
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
	padding: 10%;
	min-height: 100em;
}
@media(max-width: 500px) {
	body {
		padding: 0;
	}
}
a {
	color: inherit;
	text-decoration: inherit;
}
.gray {
	color: gray;
}
.black {
	color: black;
}
/* Structural Rows */
.inlineBlock {
	display: inline-block;
}
.none {
	display: none;
}
.pointer {
	cursor: pointer;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.marginBottom1 {
	margin-bottom: 1em;
}
.fullRow {
	width: 100%;
}
.titleRow {
	text-align: center;	
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.subtitleRow {
	font-size: 1.2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.spaceRow {
	height: .5em;
}
.filledRow {
	width: 100%;
	min-height: .5em;
}
.flexRow {
	display: flex;
	width: 100%;
}
.flexWrap {
	flex-wrap: wrap;
}
.flexSpace {
	flex: .1;
}
.flexHalf {
	flex: .5;
}
.flex1 {
	flex: 1;
}
.flex2 {
	flex: 2;
}
.flex3 {
	flex: 3;
}

/* Kuchen specific classes */
.targetChart {
	height: 10em;
}
.actualChart {
	height: 2em;
}
.remainderChart {
	opacity: 0.5;
	height: 8em;
}
.remainder {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: .5em;
}
.calorieCount {
	font-size: 2em;
	text-align: center;
}
.calorieLabel {
	margin-bottom: 2em;
	font-size: 	1.2em;
	text-align: center;
}

.slice {
	height: 100%;
}
.protein {
	background: #00868B;
}
.carb {
	background: #F5D76E;
}
.sugar {
	background: #E08A1E;
}
.unsatfat {
	background: #ff7f7f;
}
.satfat {
	background: #8F1D21;
}

#addItemLine {
	display: flex;
}
.addItemChart {
	height: 3em;
}
.addItemChartBox {
	flex: 1;
	border: solid 1px black;
	font-size: 3em;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
}
.flexAddItem {
	flex: 2.5;
}
#addItemArea {
	margin-top: 1em;
	display: none;
	border-top: solid 1px black;
	box-sizing: border-box;
	min-height: 5em;
}
.addItemMenuLine {
	border-bottom: solid 1px black;
	text-align: center;
	width: 100%;
	max-width: 10em;
	margin-left: auto;
	margin-right: auto;
	min-height: 2em;
	line-height: 2em;
	cursor: pointer;
}
.addItemContentLine {
	display: none;
	border-bottom: solid 1px black;
	width: 100%;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}
.itemInput {
	display: block;
	margin: 1em;
	width: 10em;
	line-height: 1.2em;
}
#newItem {
	justify-content: center;
}
.itemBox {
	padding: 1em;
	box-sizing: border-box;
	flex-basis: 25%;
}